.one{
    background-color: rgb(252, 156, 156);
    font-family: Verdana,DejaVu Sans,sans-serif;
}


#second{
    font-size: 36px;
    color: blue;

}

.third{
    font-size: 24px;
}

#four{
    font-weight: bold;
    background-color: lightgreen;
    font-size: 24px;
}